:root {
    --roxo: #9d4edd;
    --amarelo: #ffd100;
    --verde: #57cc99;
    --azul: #0066FF;
    --azul-piscina: #7fdeff;
    --ghostwhite: #f8f8ff;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('/exerciciosTrelloFMT_modulo2/semana3/paginaPri-EX1/assets/imagemHome.jpg');
    width: 100vw;
    background-size: cover;
}

header h1 {
    color: var(--amarelo);
}

header p {
    color: var(--azul);
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    text-align: center;
    background-color: var(--ghostwhite);
}

#fotoPri {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0px auto;
}

.container {
    margin: 20px;
    border-radius: 10%;
}

main p {
    padding: 20px;
    margin-left: 30px;
    margin-right: 50px;
    font-size: 1.1em;
    text-align: center;
    color: var(--roxo);
}

main ul {
    padding: 20px;
}
.container {
  
    background-color: var(--azul-piscina);
    font-size: 1.2em;
    padding-left: 50px;
} 

footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-attachment: fixed;
    background-color: var(--amarelo);
    padding: 20px;
}

footer a {
    padding-right: 30px;
}