
:root {
    --black: #000000;
    --white: #ffffff;
    --line: #111111;
}

#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh; /* Garante que o conteúdo ocupe pelo menos a altura total da janela */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Empurra o footer para o final */
}

.footer {
    background-color: var(--black);
    color: var(--white);
    width: 100vw;
    /* position: fixed; */
    /* bottom: 0; */
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: left;
}

.footer img {
   display: block;
}

.footer h3 {
    margin-bottom: 32px;
    font: 600 1.5rem "Roboto", sans-serif;
}

.separator {
    border: 0;
    height: 1px;
    background: var(--line);
    margin: 20px 0;
    width: 350px;
}

.footer li {
    list-style: none;
    display: flex;
    font: 400 1.2rem "Roboto", sans-serif;
    margin-bottom: 20px;
}

.social-midia {
    display: flex;
    gap: 32px;
}

.footer p {
    display: block;
    margin-top: 40px;
    white-space: nowrap; /* Garante que o texto não quebre em várias linhas */
}
