* {
    margin: 0;
    box-sizing: border-box;
}

h1 {
    color: blue;
}

p {
    background-color: aqua;
    font-size: 20px;
}

ul {
    margin: 30px;

}

li {
    text-decoration: underline;
    color:blueviolet
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    background-color: antiquewhite;
}

.input {
    padding: 13px 15px;
}

button{
    display: flex;
    margin: 0 auto;
    margin-top: 15px
}