
* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    color: white;
    font-family: 'Inter', sans-serif; 
}

body {
    /* height: 100vh;  */
    /* width: 1512px; */
    /* height: 2266.31px;  */
    /* margin-top: -515px; */
    /* margin-left: -756px; */    
    background-image: url("/semana2/netflix/assets/poster.png");
    background-size: cover;
    background-repeat: no-repeat; 
}

.header {
    width: 60vw;
    /* height: 850px; */
    /* background-color: aqua; */
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20vw;
    margin: auto;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

.main {
    display: flex;
    flex-direction: row;
    margin: 0 50px;
    width: 80vw;
    height: 350px; 
    /* background-color: aliceblue; */
}

.content {
    width: 200%;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    background-color: blue;
}

.film {
    display: flex;
    flex-direction: column;
}

.film h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.film span{
    margin-bottom: 20px;
}

.film p>span {
    color: red;
}

.carrossel h4 {
    margin-top: 30px;
}



/* .social_sharing {
    display: flex;
    position: relative;
    height: fit-content;
} */

.social_sharing {

    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(-50%, 25%);
    background-color: brown;
}